* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-green: #BEEF9E;
    --olivine: #A6C36F;
    --moss-green: #828C51;
    --brunswick-green: #335145;
    --dark-green: #1E352F;
}

body {
    border: 1px black solid;
    margin: 28rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.div {
    display: flex;
    justify-content: center;
}

.abertas {
    cursor: pointer;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    border-radius: 20rem;
}

.margin {
    margin: 1rem;
}

.fechadas {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    border-radius: 20rem;
}

.diva {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}